<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>

    <body >
        <div>Here goes the index page!</div>
        <a href="/products/seed">SEED</a> // <a href="/products/new">CREATE NEW</a>
        <%#= products %>
            <div class="main">
                <% for (let product of products) { %>
                    <div class="item-frame">
                        <a href="/products/<%= product._id %>">
                            <div>
                                <img src="<%= product.img %>" alt="" srcset="">
                                <div><%= product.name %></div>
                                <div>$<%=product.price%></div>
                            </div>
                        </a>
                </div>
                <% } %>
            </div>
    </body>

</html>