<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

<body style="width: 50vw;">
    <div>This is your product:</div>
    <%#= product %>
    <div>
        <img src="<%= product.img %>" alt="" srcset="">
        <div><%= product.name %></div>
        <div>$<%=product.price%></div>
        <div>Quantity Available: <%= product.qty %></div>
        <% if (product.qty > 0) { %>
            <form action="/products/<%=product._id%>/purchase?_method=PUT" method="post">
                Quantity to purchase: <input type="number" name="purchase" value="1" min="1" max="<%= product.qty %>">
                <input type="submit" value="Buy now">
            </form>
        <%} else  { %>
            <button disabled>Out of Stock</button>
            <% } %>
    </div>
</body>
</html>