<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

<body style="width: 50vw;">
    <!-- <div>This is your product:</div> -->
    <%#= product %>
    <div class="show">
        <img src="<%= product.img %>" alt="" srcset="">
        <div><h4 style="display: inline;"><%= product.name %></h4>
            (<a href="./<%=product._id%>/edit">Edit this item</a>)
        </div>
        <div>$<%= product.price %></div>
        <div>Description: <%= product.description %></div>
        <div>Quantity Available: <%= product.qty %></div>
        <% if (product.qty > 0) { %>
            <form action="/products/<%=product._id%>/purchase?_method=PUT" method="post">
                Quantity to purchase: <input type="number" name="purchase" value="1" min="1" max="<%= product.qty %>">
                <input type="submit" value="Buy now">
            </form>
        <%} else  { %>
            <button disabled>Out of Stock</button>
            <% } %>
    </div>
    <a href="/products">Back to main page</a>

</body>
</html>